In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Prompt_Number_NDCG.csv")
df.head()

,Benchmark,Prompt_ID,Old_Top_1_Score,New_Top_1_Score
0,aiXcoder_prompt_gpt3.5_512_10.jsonl,178,1,2
1,aiXcoder_prompt_gpt3.5_512_10.jsonl,172,3,3
2,aiXcoder_prompt_gpt3.5_512_10.jsonl,162,3,3
3,aiXcoder_prompt_gpt3.5_512_10.jsonl,119,1,1
4,aiXcoder_prompt_gpt3.5_512_10.jsonl,115,0,3

In [4]:
old_top_df = df[df["Old_Top_1_Score"] == 3]
old_top_df.head()

,Benchmark,Prompt_ID,Old_Top_1_Score,New_Top_1_Score
1,aiXcoder_prompt_gpt3.5_512_10.jsonl,172,3,3
2,aiXcoder_prompt_gpt3.5_512_10.jsonl,162,3,3
5,aiXcoder_prompt_gpt3.5_512_10.jsonl,107,3,3
10,aiXcoder_prompt_gpt3.5_512_10.jsonl,79,3,3
11,aiXcoder_prompt_gpt3.5_512_10.jsonl,68,3,3

In [3]:
def get_dataset(x):
    if 'SOEval' in x:
       return "_".join(x.split('_')[0:1])
    else:
        return "_".join(x.split('_')[0:2])

In [4]:
def get_model(x):
    if 'SOEval' in x:
        return x.split('_')[1]
    else:
        return x.split('_')[2]

In [5]:
def get_language(x):
    dataset_type = "Java"
    if "python" in x.lower():
        dataset_type = "Python"
    return dataset_type

In [7]:
df.insert(1, "Dataset", df["Benchmark"].apply(get_dataset))
df.insert(2, "Model", df["Benchmark"].apply(get_model))
df.insert(3, "Language", df["Benchmark"].apply(get_language))

In [9]:
df.head()
df.to_csv("Score_data.csv", index=False)

In [13]:
old_grouped_df = old_top_df.groupby(["Model","Language"]).count()
old_grouped_df.head()

                         Benchmark  Dataset  Prompt_ID  Old_Top_1_Score  \
Model          Language
PolyCoder-0.4B Java              1        1          1                1
               Python            2        2          2                2
PolyCoder-160M Java              1        1          1                1
               Python            1        1          1                1
PolyCoder-2.7B Java              1        1          1                1

                         New_Top_1_Score
Model          Language
PolyCoder-0.4B Java                    1
               Python                  2
PolyCoder-160M Java                    1
               Python                  1
PolyCoder-2.7B Java                    1

In [14]:
old_grouped_df.to_csv("old_grouped_old_top_1.csv")

In [15]:
new_top_df = df[df["New_Top_1_Score"] == 3]
new_top_df.head()

,Benchmark,Prompt_ID,Old_Top_1_Score,New_Top_1_Score
1,aiXcoder_prompt_gpt3.5_512_10.jsonl,172,3,3
2,aiXcoder_prompt_gpt3.5_512_10.jsonl,162,3,3
4,aiXcoder_prompt_gpt3.5_512_10.jsonl,115,0,3
5,aiXcoder_prompt_gpt3.5_512_10.jsonl,107,3,3
6,aiXcoder_prompt_gpt3.5_512_10.jsonl,106,1,3

In [16]:
new_top_df.insert(1, "Dataset", df["Benchmark"].apply(get_dataset))
new_top_df.insert(2, "Model", df["Benchmark"].apply(get_model))
new_top_df.insert(3, "Language", df["Benchmark"].apply(get_language))

In [17]:
new_top_df.head()

,Benchmark,Dataset,Model,Language,Prompt_ID,Old_Top_1_Score,New_Top_1_Score
1,aiXcoder_prompt_gpt3.5_512_10.jsonl,aiXcoder_prompt,gpt3.5,Java,172,3,3
2,aiXcoder_prompt_gpt3.5_512_10.jsonl,aiXcoder_prompt,gpt3.5,Java,162,3,3
4,aiXcoder_prompt_gpt3.5_512_10.jsonl,aiXcoder_prompt,gpt3.5,Java,115,0,3
5,aiXcoder_prompt_gpt3.5_512_10.jsonl,aiXcoder_prompt,gpt3.5,Java,107,3,3
6,aiXcoder_prompt_gpt3.5_512_10.jsonl,aiXcoder_prompt,gpt3.5,Java,106,1,3

In [18]:
new_grouped_df = new_top_df.groupby(["Model","Language"]).count()
new_grouped_df.head()

                         Benchmark  Dataset  Prompt_ID  Old_Top_1_Score  \
Model          Language
PolyCoder-0.4B Java              4        4          4                4
               Python            2        2          2                2
PolyCoder-160M Java              2        2          2                2
               Python            1        1          1                1
PolyCoder-2.7B Java              1        1          1                1

                         New_Top_1_Score
Model          Language
PolyCoder-0.4B Java                    4
               Python                  2
PolyCoder-160M Java                    2
               Python                  1
PolyCoder-2.7B Java                    1

In [19]:
new_grouped_df.to_csv("new_grouped_old_top_1.csv")